<%- include('partials/header'); -%>

<h1><%= gameBoard%> </h1>



<div class="container">
  <div class="trapezi">
    <img id="tablePicture" src="images/trapezi.png" >
  </div>
</div>



<div class="container">
  <div class="playerHand">
    <div class="row">
      <%for (var i=0; i< startingHand.length ;i++){%>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="<%=startingHand[i]._id%>">
        <div class="playingCard">
          <img src="images/<%=startingHand[i].value%><%=startingHand[i].suit%>.png" class="card-img-top">
        </div>
      </div>
      <%}%>
    </div>
  </div>
</div>



<%- include('partials/footer'); -%>
