<%- include('partials/header'); -%>
<script src="jquery-ui-1.12.1/external/jquery/jquery.js"></script>
<script src="jquery-ui-1.12.1/jquery-ui.min.js"></script>
<div class="container text-center">


  <img class="logoInGame" src="/images/kseriLogo.png">
  <h3>Καλώς ήρθες <span id="usernameText"><%=currentUser.username%></span></h3>
</div>
<div class="container text-center trapezi">
  <img id="tablePicture" src="images/trapezi.png">
  <div class="container ">
    <div class="row cardsPlayedFrame">
      <%for (var i=0; i< board.length ;i++){%>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img src="images/<%=board[i]%>.png" class="card-img-top cardPlayedOnBoard">
      </div>
      <%}%>
      </div>
    </div>
</div>
<div class="container text-center">
  <% if (gameOn) { %>
      <% if (currentUser.currentTurn) { %>
      <input id="turnIndicator" type="hidden" name="" value="<%=currentUser.currentTurn%>">
      <label for="spin" class="loadingLabel">Είναι η σειρά σου να πάιξεις !</label>
      <%} else {%>
      <label for="spin" class="loadingLabel">Περίμενε τον αντίπαλο σου να παίξει...</label>
      <div class="spinner-grow text-danger loadingLabel" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <%}%>
    <%}else{%>
      <p class="loadingLabel">Περίμενε να συνδεθεί δεύτερο άτομο</p>
      <div id="loadingLabel" class="spinner-grow text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <%  } %>
    </div>
    <div class="container">
      <div class="playerHand">
        <div class="row">
          <%for (var i=0; i< startingHand.length ;i++){%>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="playingCard" cardValue="<%=startingHand[i].value%>" cardSuit="<%=startingHand[i].suit%>">
              <img src="images/<%=startingHand[i].value%><%=startingHand[i].suit%>.png" class="card-img-top">
            </div>
          </div>
          <%}%>
    </div>
  </div>
</div>

<div class="container text-center">
      <br>
      <form action="/game" method="post">
        <button id="startButton" class="btn btn-success btn-sm" type="submit" name="startButton" disabled>Start Game</button>
      </form>
      <br>
      <form action="/logout" method="post">
        <button class="btn btn-danger exitButton btn-sm" type="submit" name="exitButton">Exit Game</button>
      </form>
    </div>

    <form id="update" action="/update" method="post">
      <input class="cardValue" type="hidden" name="cardValue" value="">
      <input class="cardSuit" type="hidden" name="cardSuit" value="">
    </form>

    <script>
      //jshint esversion:6
      let turn = $("#turnIndicator").val();
      $( document ).ready(function() {
        // making cards draggable depending on your turn
          if (turn==="true"){
            //making cards draggable
            $(".playingCard").draggable({
              revert: "invalid"
            });
          }else if (turn==="false"){
            // cards cant been dragged
            $(".playingCard").draggable("disable");
        }

        //making the table droppable
        $("#tablePicture").droppable({
          accept: ".playingCard",
          //drop function to get info about what card was dropped and who dropped it
          drop: function(event, ui) {
            //disable dragging after card being dropped
            $(ui.draggable).draggable('disable');
            //parent card ID
            var droppedItemValue = ui.draggable.attr("cardValue");
            var droppedItemSuit = ui.draggable.attr("cardSuit");
            //automatically center dropped card
            ui.draggable.position({
              my: "center",
              at: "center",
              of: $(this),
              using: function(pos) {
                $(this).animate(pos, "slow", "linear");
              }
            });
            $(".cardValue").val(droppedItemValue);
            $(".cardSuit").val(droppedItemSuit);
            $("#update").submit();
          }
        });
      });

    </script>


    <%- include('partials/footer'); -%>
