<%- include('partials/header'); -%>

<div class="container text-center">


  <h2 id="title">Ξερή 2020</h2>
  <h3>Καλώς ήρθες <span id="usernameText"><%=currentUser.username%></span></h3>

</div>





<div class="container text-center trapezi">
    <img id="tablePicture" src="images/trapezi.png">
    <div class="container ">
      <div class="row cardsPlayedFrame">
        <%for (var i=0; i< board.length ;i++){%>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <img src="images/<%=board[i]%>.png" class="card-img-top cardPlayedOnBoard">
        </div>
        <%}%>
      </div>
    </div>
</div>



<div class="container">
  <div class="playerHand">
    <div class="row">
      <%for (var i=0; i< startingHand.length ;i++){%>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="playingCard" cardValue="<%=startingHand[i].value%>" cardSuit="<%=startingHand[i].suit%>">
          <img src="images/<%=startingHand[i].value%><%=startingHand[i].suit%>.png" class="card-img-top">
        </div>
      </div>
      <%}%>
    </div>
  </div>
</div>



<div class="container text-center">
  <label for="spin" class="loadingLabel"><%= title %> </label>
      <div id="spin" class="spinner-border text-success" role="status">
        <span class="sr-only ">Waiting other players</span>
      </div>
      <br>
      <form action="/game" method="post">
        <button id="startButton" class="btn btn-success btn-sm" type="submit" name="startButton" disabled>Start Game</button>
      </form>
      <br>
      <form action="/logout" method="post">
        <button class="btn btn-danger exitButton btn-sm" type="submit" name="exitButton">Exit Game</button>
      </form>
    </div>

    <form id="update" action="/update" method="post">
      <input class="cardValue" type="hidden" name="cardValue" value="">
      <input class="cardSuit" type="hidden" name="cardSuit" value="">
    </form>
    <%- include('partials/footer'); -%>
