<%- include('partials/header'); -%>

<div class="container text-center">


  <h2 id="title">Ξερή 2020</h2>

</div>


<div class="container text-center">
  <div class="trapezi">
    <img id="tablePicture" src="images/trapezi.png">
  </div>
</div>



<div class="container">
  <div class="playerHand">
    <div class="row">
      <%for (var i=0; i< startingHand.length ;i++){%>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="playingCard" id="<%=startingHand[i]._id%>">
          <img src="images/<%=startingHand[i].value%><%=startingHand[i].suit%>.png" class="card-img-top">
        </div>
      </div>
      <%}%>
    </div>
  </div>
</div>



<div class="container text-center">
  <label for="spin" class="loadingLabel"><%= title %> </label>
      <div id="spin" class="spinner-border text-success" role="status">
        <span class="sr-only ">Waiting other players</span>
      </div>
      <br>

      <button id="startButton" class="btn btn-success btn-sm" type="submit" name="startButton" disabled>Start Game</button>
      <br>

      <br>
      <form action="/logout" method="post">
        <button class="btn btn-danger exitButton btn-sm" type="submit" name="exitButton">Exit Game</button>
      </form>


    </div>


    <%- include('partials/footer'); -%>
