<%- include('partials/header'); -%>
<script src="jquery-ui-1.12.1/external/jquery/jquery.js"></script>
<script src="jquery-ui-1.12.1/jquery-ui.min.js"></script>
<div class="container text-center">

  <!-- HERE IS OUR LOGO -->
  <img class="logoInGame" src="/images/kseriLogo.png">
  <!-- HERE IS OUR WELCOME MESSAGE -->
  <h3>Καλώς ήρθες <span id="usernameText"><%=currentUser.username%></span></h3>
</div>


<!-- HERE IS OUR TABLE -->
<div class="container text-center trapezi">
  <img id="tablePicture" src="images/trapezi.png">

    <div class="card-group cardsPlayedFrame">
      <%for (let i=0; i< board.length ;i++){%>
      <div class="card">
        <img class="card-img-top cardPlayedOnBoard" src="images/<%=board[i]%>.png">
      </div>
      <%}%>
</div>
</div>


<!-- HERE IS OUR MESSAGE TO THE USER SHOWING THE STATUS OF THE GAME -->
<div class="container text-center">
  <% if (gameOn) { %>
      <% if (currentUser.currentTurn) { %>
      <input id="turnIndicator" type="hidden" name="" value="<%=currentUser.currentTurn%>">
      <label for="spin" class="loadingLabel">Είναι η σειρά σου να πάιξεις !</label>
      <%} else {%>
      <label for="loadingLabel" class="loadingLabel">Περίμενε τον αντίπαλο σου να παίξει...</label>
      <div class="spinner-grow text-danger loadingLabel" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <%}%>
    <%}else{%>
      <p class="loadingLabel">Περίμενε να συνδεθεί δεύτερο άτομο</p>
      <div id="loadingLabel" class="spinner-grow text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <%  } %>
    </div>

    <!-- HERE IS THE PLAYERS HAND -->
    <div class="container">
      <div class="card-group">
        <%for (let i=0; i< startingHand.length ;i++){%>
        <div class="card playingCard" cardValue="<%=startingHand[i].value%>" cardSuit="<%=startingHand[i].suit%>">
          <img class="card-img-top cardInHand" src="images/<%=startingHand[i].value%><%=startingHand[i].suit%>.png">
        </div>
        <%}%>
</div>
</div>

<!-- HERE ARE ALL THE BUTTONS -->
<div class="container text-center">
      <br>
      <!-- BUTTON THAT STARTS THE GAME WITH A POST -->
      <form action="/game" method="post">
        <button id="startButton" class="btn btn-success btn-sm" type="submit" name="startButton" disabled>Start Game</button>
      </form>
      <br>
      <!-- BUTTON THAT LOGS OUT THE USER FROM THE SESSION -->
      <form action="/logout" method="post">
        <button class="btn btn-danger exitButton btn-sm" type="submit" name="exitButton">Exit Game</button>
      </form>
<!-- BUTTON FOR DEBUGGING ISSUES -->
        <button id="removeHand" class="btn" type="button" name="removeHand">removeHand</button>

    </div>

<!-- HIDDEN INPUTS TO STORE INFO FOR MANIPULATION -->
    <form id="update" action="/update" method="post">
      <input class="cardValue" type="hidden" name="cardValue" value="">
      <input class="cardSuit" type="hidden" name="cardSuit" value="">
    </form>

    <script>
      //jshint esversion:6
      let turn = $("#turnIndicator").val();
      //when the doc has finished loading
      $( document ).ready(function() {
        // making cards draggable depending on your turn
          if (turn==="true"){
            //making cards draggable
            $(".playingCard").draggable({
              revert: "invalid"
            });
          }else if (turn==="false"){
            // cards cant been dragged
            $(".playingCard").draggable("disable");
        }

        //making the table droppable
        $("#tablePicture").droppable({
          accept: ".playingCard",
          //drop function to get info about what card was dropped and who dropped it
          drop: function(event, ui) {
            //disable dragging after card being dropped
            $(ui.draggable).draggable('disable');
            //parent card ID
            let droppedItemValue = ui.draggable.attr("cardValue");
            let droppedItemSuit = ui.draggable.attr("cardSuit");
            //automatically center dropped card
            ui.draggable.position({
              my: "center",
              at: "center",
              of: $(this),
              using: function(pos) {
                $(this).animate(pos, "slow", "linear");
              }
            });
            $(".cardValue").val(droppedItemValue);
            $(".cardSuit").val(droppedItemSuit);
            $("#update").submit();
          }
        });
      });

    </script>


    <%- include('partials/footer'); -%>
